/target/ 
.classpath
.project
.settings      
*.mdb  
*.ldb  
*.sln    
*.com  
*.class  
*.dll  
*.exe  
*.o  
*.so  
*.7z  
*.dmg  
*.gz  
*.iso  
*.jar  
*.rar  
*.tar  
*.zip  
*.via
*.tmp
*.err 
.DS_Store  
.DS_Store?  
._*  
.Spotlight-V100  
.Trashes  
Icon?  
ehthumbs.db  
Thumbs.db 